/* RESET  */
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}


/* header */
header.main-header {
    padding: 8px;
    background-color: white;
}

img.header-logo {
    height: 55px;
}

/* main */
main {
    background-color: #f7f8f9;
    padding: 30px;
    min-height: 850px;
}

.container {
    margin: auto;
}


/* contenuto pagina */
div.toboolist {
    max-width: 1350px;
    background-color: white;
    border-radius: 5px;
}

/* sezione pulsanti  */
div.toboolist div.sezione-pulsanti {
    padding: 10px 50px;
    border-bottom: solid 2px #f7f8f9;
}

div.toboolist div.sezione-pulsanti button {
    border: solid 1px #dadfe2;
    border-radius: 5px;
    background-color: white;
    padding: 5px 8px;
}

div.toboolist div.sezione-pulsanti button.active {
    border: solid 1px #14AAF5;
    background-color: #14AAF5;
}

/* sezioni liste */

div.toboolist ul.todolist {
    padding: 30px 60px;
}

div.toboolist ul.todolist li:not(:first-child) {
    margin-top: 30px;
}

li h2.titolo-lista {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}

ul.todolist {
    list-style-type: none;
}

ul.todolist_sottolista {
    list-style-type: none;
    margin-top: 15px;
}

ul.todolist_sottolista li:not(:last-child) {
    margin-bottom: 20px;
}

ul.todolist_sottolista li p {
    display: inline;
    margin: 0 5px;
    font-family: Arial, Helvetica, sans-serif;
}

ul.todolist_sottolista span.checkmark {
    display: inline-block;
    color: #9DE4D7;
    border: solid 2px #9DE4D7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

ul.todolist_sottolista span.crossed {
    display: inline-block;
    color: #FB2415;
    border: solid 2px #FB2415;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

ul.todolist_sottolista span.editorial {
    background-color: #30A9ED;
}

ul.todolist_sottolista span.categoria {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

ul.todolist_sottolista span.q1-goals {
    background-color: #AB5DE6;
}

ul.todolist_sottolista span.recuiting {
    background-color: #2CC6AB;
}

ul.todolist_sottolista span.mobile {
    background-color: #FB9B01;
}

ul.todolist_sottolista span.website {
    background-color: #EC4A9D;
}

ul.todolist_sottolista span.sales {
    background-color: #A3D116;
}