/* RESET  */
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}


/* header */
header.main-header {
    padding: 8px;
    background-color: white;
}

img.header-logo {
    height: 55px;
}

main {
    background-color: #f7f8f9;
    padding: 30px;
}

.container {
    margin: auto;
}


/* contenuto pagina */
article {
    max-width: 1350px;
    background-color: white;
}

/* sezione pulsanti  */
article header {
    padding: 10px 50px;
    border-bottom: solid 2px #f7f8f9;
}

article header button {
    border: solid 1px #dadfe2;
    border-radius: 5px;
    background-color: white;
    padding: 5px 8px;
}

article header button.active {
    border: solid 1px #14AAF5;
    background-color: #14AAF5;
}

/* sezioni liste */
article div {
    padding: 30px 60px;
}

section h1.titolo-lista {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}

ul.todolist {
    list-style-type: none;
    margin-top: 15px;
}

ul.todolist li p {
    display: inline;
    margin: 0 5px;
    font-family: Arial, Helvetica, sans-serif;
}

ul.todolist span.checkmark {
    display: inline-block;
    color: #9DE4D7;
    border: solid 1px #9DE4D7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
}

ul.todolist span.editorial {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: white;
    background-color: #30A9ED;
    padding: 5px 10px;
    border-radius: 10px;
}